.content{
  display: block;
  max-width: 80%;
  margin: auto;
  border-style: dotted;
  border-width: 5px;
}
body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://previews.123rf.com/images/shoosanne/shoosanne1303/shoosanne130300002/18180105-Caricatura-lindo-diablo-Foto-de-archivo.jpg'); 
    width: 100%;
    height: 100%;
    opacity : 0.04;
    z-index: -1;

}

header, footer {
    background-color: rgb(240, 80, 80);
    opacity : 0.8;
    color: white;
    padding: 15px;
}

h1, h2{ 
    text-align: center;
    font-family: cursive;
    font-size: 42px;
    text-decoration: underline;
    text-transform: capitalize;
    line-height: 3px
}

h1{
  content: "O chytrém ševci a hloupém čertovi";
  font-size: 60px;
}



p {
  font-size: 17px;
  font-family: Helvetica;
  text-align: justify;
}

ol{
  text-align: justify;
  padding-left: 50px;
}

.autor {
  display: inline-block;
}

.zdroj{
  display: inline-block;
  float: right;
}

#uvod,#pytel,#soutez,#zaver{
  padding: 0em 1em;
  font-family: Minion;
  font-size: 1.2em;
}
#uvod{
  text-align: justify;
}
#uvod em{
  text-decoration: underline;
}
#pytel{
  position: relative;
  overflow: hidden;
}

#soutez{
  position: relative;
  overflow: hidden;
}

.zanr{
  color: rgb(240, 80, 80);

}

footer p{
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  text-transform: uppercase;
}
